
<div class="col-12">
    <small>Paiement le jour de la sortie:</small>
    <button class="btn btn-secondary text-center" id="form_espece" name="form[espece]" style="font-size:24px !important;width:100%">
        <span class="p-i espece-icon"></span> {# todo btn btn-link #}
        <i class="fa fa-money"></i> <br> Espèce
    </button>
</div>
