<div class="col-12">
    <small>Paiement immédiat via Paypal :</small>
    <button class="btn btn-warning text-center" id="form_paypal_checkout_express" name="form[paypal_checkout_express]" style="width:100%;font-size:24px !important">
        <span class="p-i cb-icon"></span>
        <i class="fa fa-credit-card"></i> <br> Carte de Crédit
    </button>
</div>
