<p style="max-width:500px; margin:40px auto">Un e-mail récapitulant votre réservation vient de vous être envoyé. Nous vous remercions pour votre réservation. Vous pouvez également retrouver celle-ci dans votre espace &laquo <a href="#todo">Mes Réservations</a> &raquo;.</p>

<div>
    <a href="{{ path('piedweb_cms_homepage') }}" class="btn btn-primary">Voir les prochaines sorties</a>
</div>
