<p class="alert alert-success">Un e-mail récapitulant votre réservation vient de vous être envoyé. Nous vous remercions pour votre réservation. Vous pouvez également retrouver celle-ci dans votre espace &laquo <a href="{{ path('piedweb_reservation_show_orders') }}">Mes Réservations</a> &raquo;.</p>

{% if page is not null  %}
    {% set mainContent = page.mainContentIsMarkdown ? page.mainContent|markdown : page.mainContent  %}
    {% include(template_from_string(mainContent)) %}
{% endif  %}
