<h2 class="mb-20">S'inscrire</h2>

<div class="text-left" style="max-width:250px; margin:auto; padding-top:20px; padding-bottom: 20px;">
    {% include '@PiedWebReservation/user/_user_details_form.html.twig' %}
</div>
