{% extends '@PiedWebCMS/base.html.twig' %}

{% block title %}Réservation{% endblock %}

{% block body %}
    <section>
        <header class="tunnel-header">
                <div class="container">
                    {% block logo %}
                    <span class="navbar-brand"></span>
                    {% endblock logo %}
                </div>
        </header>
    </section>

    {% block content %}
        {% include '@PiedWebReservation/reservation/_reservation.html.twig' %}
    {% endblock %}

    <div class="mt-5"></div>
    <div class="footer-block d-none"></div>
{% endblock %}
